@charset 'utf-8';


/* 中心版面 */
.container{
    width: 1200px;
    margin: 0 auto;
    border: 1px solid #333;
}
.container .topnav{
    height: 60px;
    line-height: 60px; 
    width: 100%;
}
.container .topnav .logo > img{
    width: 220px;
    height: 32px;
    vertical-align: middle;
}
.container .topnav .ulleft{
    margin-left: 30px;
}
.container .topnav .ulleft > li{
    float: left;
    width: 85px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin-top: 20px;
    border-radius: 5px;
}
.container .topnav .ulleft > li > a{
    color:#333333;
    font-size: 14px;
}
.container .topnav .ulleft > li > a > i{
    font-size: 12px;
}
.container .topnav .ulleft > li:hover{
    border: 1px solid #ff4905;
}
.container .topnav .ulleft > li:hover a{
    color:#ff4905;
}
/* .container .topnav .ul_right{
    margin-right: 5px;
} */
.container .topnav .ul_right > li{
    float: left;
    height: 30px;
    line-height: 30px;
    margin:20px 22px 0 0;
}
.container .topnav .ul_right #search{
    border:1px solid #E6E6E6;
    width: 145px;
    border-radius: 15px;
    margin-top: 18px;
    visibility: hidden; 
}
.container .topnav .ul_right #search > input{
    width: 120px;
    height: 30px;
    text-indent: 15px;
    visibility: hidden; 
}
.container .topnav .ul_right #search #searchIcon{
    visibility:visible;
} 
.container .topnav .ul_right li a{
    color: #363636;
    font-size: 18px;
}
.container .topnav .ul_right li .font{
    font-size: 14px;
}
.container .topnav .ul_right li .font:hover{
    text-decoration: underline;
}

