@charset 'utf-8';


/* 中心版面 */
.container{
    width: 1200px;
    margin: 0 auto;
    /* border: 1px solid #333; */
}
.container .topnav{
    height: 60px;
    line-height: 60px; 
    width: 100%;
}
.container .topnav .logo > img{
    width: 220px;
    height: 32px;
    vertical-align: middle;
}
.container .topnav .ulleft{
    margin-left: 30px;
}
.container .topnav .ulleft > li{
    float: left;
    width: 85px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin-top: 20px;
    border-radius: 5px;
}
.container .topnav .ulleft > li > a{
    color:#333333;
    font-size: 14px;
}
.container .topnav .ulleft > li > a > i{
    font-size: 12px;
}
.container .topnav .ulleft > li:hover{
    border: 1px solid #ff4905;
}
.container .topnav .ulleft > li:hover a{
    color:#ff4905;
}
/* .container .topnav .ul_right{
    margin-right: 5px;
} */
.container .topnav .ul_right > li{
    float: left;
    height: 30px;
    line-height: 30px;
    margin:20px 22px 0 0;
}
.container .topnav .ul_right #search{
    border:1px solid #E6E6E6;
    width: 145px;
    border-radius: 15px;
    margin-top: 18px;
    visibility: hidden; 
}
.container .topnav .ul_right #search > input{
    width: 120px;
    height: 30px;
    text-indent: 15px;
    visibility: hidden; 
}
.container .topnav .ul_right #search #searchIcon{
    visibility:visible;
} 
.container .topnav .ul_right li a{
    color: #363636;
    font-size: 18px;
}
.container .topnav .ul_right li .font{
    font-size: 14px;
}
.container .topnav .ul_right li .font:hover{
    text-decoration: underline;
}
.container .classificationnav{
    /* overflow: hidden; */
}
.container .classificationnav .sidenav{
    width: 240px;
    height: 530px;
    background-color:rgba(222,61,39,.7); 
    border-right: 3px solid #ffd700;
    padding-top: 15px;
}
.container .classificationnav .sidenav > dt,
.container .classificationnav .sidenav > dd{
    padding-left: 15px;
}
.container .classificationnav .sidenav > dt{
    margin-top: 25px;
}
.container .classificationnav .sidenav > dt > a{
    font: 18px/35px "微软雅黑";
    color:#ffffff;
    
}
.container .classificationnav .sidenav > dd > a{
    font: 13px/24px "微软雅黑";
    color:#ffffff;
    margin-right: 16px;
}
.container .classificationnav .sidenav > dt > a:hover,
.container .classificationnav .sidenav > dd > a:hover{
    text-decoration: underline;
}
.container .classificationnav #banner{
    width: 955px;
    height: 393px;
    cursor: pointer;
    overflow: hidden; 
    position: relative;
}
.container .classificationnav #banner .bannerlist{
    width: 5730px;
    height: 393px;
    position: absolute;
    left: 0;
    top: 0;
}
.container .classificationnav #banner .bannerlist > li{
    width: 955px;
    height: 393px;
    float: left;
}
.container .classificationnav #banner .bannerlist > li > img{
    width: 955px;
    height: 393px;
}
.container .classificationnav #banner .shiftlist{
    width: 100%;
    height: 5px;
    position: absolute;
    bottom: 25px;
    text-align: center;
}
.container .classificationnav #banner .shiftlist span{
    width: 50px;
    height: 100%;
    background-color: #cccccc;
    display: inline-block;
    margin-right: 5px;
}
.container .classificationnav #banner .shiftlist span.active{
    background-color: #ff4400;
}
.container .classificationnav #banner > button{
    width: 50px;
    height: 100px;
    line-height: 100px;
    background-color: rgba(204, 204, 204, .7);
    position: absolute;
    font-size: 20px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
.container .classificationnav #banner > .left{
    left: 0;
}
.container .classificationnav #banner > .right{
    right: 0;
}
