@charset 'utf-8';
.background {
    background-color: #F5F5F5;
}

.container {
    width: 1200px;
    margin: 0 auto;
    /* border: 1px solid #333; */
}

.topnav {
    height: 60px;
    line-height: 60px;
    width: 100%;
    border: 1px solid #e6e6e6;
}

.topnav .container .logo>img {
    width: 220px;
    height: 32px;
    vertical-align: middle;
}

.topnav .container .ulleft {
    margin-left: 20px;
}

.topnav .container .ulleft>li {
    float: left;
    width: 85px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin-top: 20px;
    border-radius: 5px;
}

.topnav .container .ulleft>li:nth-of-type(2) {
    position: relative;
}

.topnav .container .ulleft .coursetype {
    width: 85px;
    height: 60px;
    position: absolute;
    top: 40px;
    left: 0;
    opacity: 0;
    z-index: 20;
    background: #ffffff;
}

.topnav .container .ulleft .coursetype>li {
    width: 85px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}

.topnav .container .ulleft>li>a, .topnav .container .ulleft .coursetype>li>a {
    color: #333333;
    font-size: 16px;
}

.topnav .container .ulleft>li>a>i {
    font-size: 12px;
}

.topnav .container .ulleft .app {
    border: 1px solid #ff4905;
}

.topnav .container .ulleft .app>a {
    color: #ff4905;
}

.topnav .container .ulleft>li:hover a {
    color: #ff4905;
}

.topnav .container .ulleft>li:nth-of-type(2):hover .coursetype li a {
    color: #333333;
}

.topnav .container .ulleft li:nth-of-type(2) .coursetype li a:hover {
    color: #ff4905;
}

.topnav .container .ulright>li {
    float: left;
    height: 30px;
    line-height: 30px;
    margin: 20px 22px 0 0;
}

.topnav .container .ulright #search {
    border: 1px solid #E6E6E6;
    width: 145px;
    border-radius: 15px;
    margin-top: 18px;
    visibility: hidden;
}

.topnav .container .ulright #search>input {
    width: 120px;
    height: 30px;
    text-indent: 15px;
    visibility: hidden;
}

.topnav .container .ulright #search #searchIcon {
    visibility: visible;
}

.topnav .container .ulright li a {
    color: #AFAFAF;
    font-size: 18px;
}

.topnav .container .ulright li .font {
    color: #666666;
    font-size: 12px;
}

.topnav .container .ulright li .font:hover {
    text-decoration: underline;
}

main {
    width: 100%;
    height: 1400px;
}

main .container>h3 {
    width: 1200px;
    padding: 17px 0 25px 0;
    font: 14px/1 "微软雅黑";
}

main .container>h3>a {
    color: #B1B3B4;
}

main .container>h3>a:hover {
    color: #FF4A00;
    text-decoration: underline;
}

main .container .teachingmethod {
    margin-top: 30px;
}

main .container .classification>dt, main .container .teachingmethod>dt {
    width: 70px;
    height: 20px;
    font: 14px/20px "微软雅黑";
    color: #B6B6B5;
}

main .container .classification>dd>a, main .container .teachingmethod>dd>a {
    font: 15px/20px "微软雅黑";
    color: #555555;
    padding: 5px 14px;
}

main .container .classification>dd>a:nth-of-type(n+2):hover, main .container .teachingmethod>dd>a:nth-of-type(n+2):hover {
    color: #FF4A00;
}

main .container .classification>dd>.active, main .container .teachingmethod>dd>.active {
    color: #ffffff;
    background-color: #FF4A00;
}

main .container .optionnav {
    width: 1200px;
    height: 45px;
    margin-top: 25px;
    border: 1px solid #F0F0F0;
    background-color: #F8F8F8;
}

main .container .optionnav span, main .container .optionnav .pricerange a {
    display: inline-block;
    width: 100px;
    height: 45px;
    border-right: 1px solid #F0F0F0;
    text-align: center;
    font: 16px/45px "微软雅黑";
    color: #7B7B7B;
}

main .container .optionnav span>i {
    color: #B7B7B7;
}

main .container .optionnav span.active {
    color: #FF5003;
    background-color: #ffffff;
}

main .container .optionnav .pricerange {
    display: inline-block;
    position: relative;
}

main .container .optionnav .pricerange ul {
    position: absolute;
    left: 0;
    top: 45px;
    width: 190px;
    height: 180px;
    border: 1px solid #F0F0F0;
    z-index: 10;
    display: none;
    background-color: #ffffff;
}

main .container .optionnav .pricerange ul li {
    width: 190px;
    height: 30px;
    cursor: pointer;
    font: 15px/30px "微软雅黑";
    margin-left: 10px;
    color: #7B7B7B;
}

main .container .optionnav .pricerange ul li:hover {
    color: #FF4A00;
}

main .container .optionnav label {
    margin-left: 40px;
    font-size: 14px;
    color: #7B7B7B;
}

main .container .optionnav label input[type="checkbox"] {
    width: 16px;
    height: 16px;
    vertical-align: middle;
    -webkit-appearance: none;
    /*清除默认样式*/
    border: 1px solid #D1D1D1;
}

main .container .optionnav label input[type="checkbox"]:checked {
    background: url("../img/checked.jpg") no-repeat center center;
}

main .container .courselist {
    width: 1200px;
    margin-top: 20px;
}

main .container .courselist li {
    width: 300px;
    height: 255px;
    /* border: 1px solid #333; */
    float: left;
    overflow: hidden;
}

main .container .courselist li .img {
    display: block;
    width: 285px;
    height: 161px;
    margin: 10px 7.5px 15px 7.5px;
    overflow: hidden;
}

main .container .courselist li .img img {
    width: 285px;
    height: 161px;
    transition: .3s linear;
}

main .container .courselist li:hover {
    box-shadow: 0px 0px 10px #9377A9;
}

main .container .courselist li:hover .img img {
    transform: scale(1.2);
}

main .container .courselist li h3 {
    width: 280px;
    height: 35px;
    padding-left: 7.5px;
    font-size: 16px;
    cursor: pointer;
    /* 溢出显示省略号 
    1.盒子溢出隐藏*/
    overflow: hidden;
    /* 2.强制不换行 */
    white-space: nowrap;
    /* 3.文字溢出显示省略号 */
    text-overflow: ellipsis;
}

main .container .courselist li h3:hover {
    text-decoration: underline;
}

main .container .courselist li p {
    padding-left: 8px;
    color: #999999;
    font-size: 14px;
}

main .container .courselist li p em {
    color: #F0F3F8;
}

main .container .courselist li p span {
    color: #FF6600;
}

main .container .pagenav {
    margin-top: 40px;
}

main .container .pagenav span, main .container .pagenav .pagesequence span {
    padding: 12px 15px;
    color: #9999B3;
    font-size: 14px;
    cursor: pointer;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    margin: 0 5px;
}

main .container .pagenav .pagesequence span.active {
    color: #ffffff;
    background-color: #188EEE;
    box-sizing: border-box;
}

main .container .pagenav span:hover, main .container .pagenav .pagesequence span:hover {
    color: #ffffff;
    background-color: #188EEE;
    box-sizing: border-box;
}

.consult {
    display: block;
    width: 35px;
    height: 103px;
    text-align: center;
    background-color: #FF4A00;
    position: fixed;
    top: 145px;
    right: 0;
    color: #ffffff;
    font: 14px/18px "微软雅黑";
    padding-top: 17px;
    border-radius: 7px 0 0 7px;
}

.iconlist>li {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    position: fixed;
}

.iconlist>li:nth-of-type(1) {
    top: 320px;
    right: 10px;
    border: 1px solid #95D372;
}

.iconlist>li:nth-of-type(2) {
    top: 370px;
    right: 10px;
    border: 1px solid #EF868B;
}

.iconlist>li:nth-of-type(3) {
    top: 430px;
    right: 10px;
    border: 1px solid #74BDEE;
}

.iconlist>li>a {
    font-size: 25px;
}

.iconlist>li:nth-child(1)>a {
    color: #95D372;
}

.iconlist>li:nth-child(2)>a {
    color: #EF868B;
}

.iconlist>li:nth-child(3)>a {
    color: #74BDEE;
}

.iconlist>li:nth-child(1):hover>a {
    color: #E6E6E6;
}

.iconlist>li:nth-child(1):hover {
    background-color: #95D372;
}

.iconlist>li:nth-child(2):hover>a {
    color: #E6E6E6;
}

.iconlist>li:nth-child(2):hover {
    background-color: #EF868B;
}

.iconlist>li:nth-child(3):hover>a {
    color: #E6E6E6;
}

.iconlist>li:nth-child(3):hover {
    background-color: #74BDEE;
}

footer {
    width: 100%;
    height: 155px;
    background-color: #404144;
    color: #999999;
    text-align: center;
    overflow: hidden;
    position: relative;
}

footer p {
    margin-top: 30px;
    font: 13px/30px "宋体";
}

footer>p>a {
    font: 13px/30px "宋体";
    color: #999999;
    padding: 0 2px;
}

footer>p>a:hover {
    color: #FF4A00;
}

footer>p>img {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    cursor: pointer;
}

footer .verification {
    position: absolute;
    top: 70px;
    right: 250px;
    cursor: pointer;
}

footer .verification>a>img {
    width: 83px;
    height: 30px;
}

footer .toparrow {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    color: #379CEE;
    border: 1px solid #379CEE;
    position: fixed;
    right: 10px;
    bottom: 10px;
    cursor: pointer;
}

footer .toparrow:hover {
    background-color: #379CEE;
    color: #ffffff;
}

footer .toparrow>i {
    vertical-align: middle;
    font-size: 20px;
}